

	.form-box {
	padding-top: 40px;
	padding-bottom: 40px;
}

.form-wizard {
  margin: 0 auto;
	padding: 25px; 
	background: #fff;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	box-shadow: 0px 0px 6px 3px #777;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}
	
.form-wizard strong { font-weight: 500; }

.form-wizard a, .form-wizard a:hover, .form-wizard a:focus {
	color: #ea2803;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.form-wizard h1, .form-wizard h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.form-wizard h3 {
	font-size: 25px;
    font-weight: 300;
    color: #231f20;
    line-height: 30px;
	margin-top: 0; 
	margin-bottom: 5px; 
	text-transform: uppercase; 
}

.form-wizard h4 {
	float:left;
	font-size: 20px;
    font-weight: 300;
    color: #231f20;
    line-height: 26px;
	width:100%;
}
.form-wizard h4  span{
	float:right;
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

.form-wizard table tr th{font-weight:normal;}

.form-wizard img { max-width: 100%; }

.form-control {
	height: 44px;
	width:100%;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.form-control:-moz-placeholder { color: #888; }
.form-control:-ms-input-placeholder { color: #888; }
.form-control::-webkit-input-placeholder { color: #888; }

.form-wizard label { font-weight: 300; }
.form-wizard label span { color:#d4bc34; }
.form-wizard .btn {
	min-width: 105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.form-wizard .btn:hover {
	background:#f34727; 
	color: #fff; 
	}
.form-wizard .btn:active { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
	-moz-box-shadow: none; 
	-webkit-box-shadow: none; 
	box-shadow: none; 
	}
.form-wizard .btn:focus,
.form-wizard .btn:active:focus,
.form-wizard .btn.active:focus { 
	outline: 0; 
	background:#f34727; 
	color: #fff; 
}

.form-wizard .btn.btn-next,
.form-wizard .btn.btn-next:focus,
.form-wizard .btn.btn-next:active:focus, 
.form-wizard .btn.btn-next.active:focus { 
		background: #d4bc34; 
}

.form-wizard .btn.btn-submit,
.form-wizard .btn.btn-submit:focus,
.form-wizard .btn.btn-submit:active:focus, 
.form-wizard .btn.btn-submit.active:focus { 
background: #d4bc34; 
}

.form-wizard .btn.btn-previous,
.form-wizard .btn.btn-previous:focus,
.form-wizard .btn.btn-previous:active:focus, 
.form-wizard .btn.btn-previous.active:focus { 
background: #bbb;
}

.form-wizard .success h3{
	color: #4F8A10;
	text-align: center;
	margin: 20px auto !important;
}
.form-wizard .success .success-icon {
	color: #4F8A10;
	font-size: 100px;
	border: 5px solid #4F8A10;
	border-radius: 100px;
	text-align: center !important;
	width: 110px;
	margin: 25px auto;
}
.form-wizard .progress-bar {
   background-color: #d4bc34;
}

.form-wizard-steps{ 
	margin:auto; 
	overflow: hidden; 
	position: relative; 
	margin-top: 20px;
}
.form-wizard-step{
	padding-top:10px !important;
	border:2px solid #fff;
	background:#ccc;
	-ms-transform: skewX(-30deg); /* IE 9 */
    -webkit-transform: skewX(-30deg); /* Safari */
    transform: skewX(-30deg); /* Standard syntax */
}
.form-wizard-step.active{
	background: #d4bc34;
}
.form-wizard-step.activated{
	background:#d4bc34;
}
.form-wizard-progress { 
	position: absolute; 
	top: 36px;
	left: 0; 
	width: 100%; 
	height: 0px; 
	background: #d4bc34;
}
.form-wizard-progress-line { 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 0px; 
	background: #d4bc34; 
}

.form-wizard-tolal-steps-3 .form-wizard-step { 
	position: relative;
	float: left; 
	width: 33.33%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-4 .form-wizard-step { 
	position: relative; 
	float: left; 
	width: 25%; 
	padding: 0 5px; 
}
.form-wizard-tolal-steps-5 .form-wizard-step { 
	position: relative;
	float: left;
	width: 20%;
	padding: 0 5px;
}

.form-wizard-step-icon {
	display: inline-block;
	width: 40px; 
	height: 40px; 
	margin-top: 4px; 
	background: #ddd;
	font-size: 16px; 
	color: #777; 
	line-height: 40px;
	-moz-border-radius: 50%; 
	-webkit-border-radius: 50%; 
	border-radius: 50%;
	-ms-transform: skewX(30deg); /* IE 9 */
    -webkit-transform: skewX(30deg); /* Safari */
    transform: skewX(30deg); /* Standard syntax */
}
.form-wizard-step.activated .form-wizard-step-icon {
	background: #d4bc34; 
	border: 1px solid #fff; 
	color: #fff; 
	line-height: 38px;
}
.form-wizard-step.active .form-wizard-step-icon {
	background: #fff; 
	border: 1px solid #fff; 
	color: #d4bc34; 
	line-height: 38px;
}

.form-wizard-step p { 
	color: #fff;
	-ms-transform: skewX(30deg); /* IE 9 */
    -webkit-transform: skewX(30deg); /* Safari */
    transform: skewX(30deg); /* Standard syntax */
}
.form-wizard-step.activated p { color: #fff; }
.form-wizard-step.active p { color: #fff; }

.form-wizard fieldset { 
	display: none; 
	text-align: left; 
	border:0px !important;
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.form-wizard-buttons { text-align: right; }

.form-wizard .input-error { border-color: #d4bc34;}

.settings_actions.vertical a {
  display: block;
}


/*Adding old css for step 3*/



/*TICKET FACILITATION CHECK BOX*/

/*.country-form{
	margin: 0 auto;
	text-align: center;
}
.country-form ul li .icheckbox_square-grey{
	margin: 0 !important;
}
.country-form ul li{
	display: inline-block;
	width: 100px;
	padding: 12px;
	text-align: center;
}

ul.no-styles{
	display: inline-block;
	list-style: none !important;
}
li.no-styles{
	display: inline-block;
	margin: 0 auto;
    padding: 0px 14px;
}
p.letter-space{
	letter-spacing: 1px;
}
.country-form ul li.iraq-label {
  background: url('../../img/Planner/country-iraq.png');
  background-size: cover;
  width: 100%;
  }
  .country-form ul li.iran-label {
  background: url('../../img/Planner/country-iran.png');
  background-size: cover;
  width: 100%;
  }
  .country-form ul li.syria-label {
  background: url('../../img/Planner/country-syria.png');
  background-size: cover;
  width: 100%;
  }
  .country-form ul li.ksa-label {
  background: url('../../img/Planner/country-saudi-arabia.png');
  background-size: cover;
  width: 100%;
  }




/*TRANSPORT CHOICE*/
/*ul.vehicle-choice{
	list-style: none;
	display: inline-block;
}*/


/*STEP 4 SUCCESS MESSAGE*/
/*--thank you pop starts here--*/
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
.btn{
    margin-bottom: 0px !important;
}
/*--thank you pop ends here--*/
.alert{
    display: none;
    color: #000;
}





























































































.form-row {
  display: flex;
  margin-bottom: 20px; }
  .form-row .form-holder {
    width: 100%;
}
    .form-row .form-holder:last-child {
      margin-right: 0; }
    .form-row .form-holder.w-100 {
      width: 100%;
      margin-right: 0; }
  .form-row .form-group {
    width: 50%;
    display: flex; }
    .form-row .form-group .form-holder {
      margin-right: 21px; }
      .form-row .form-group .form-holder:last-child {
        margin-right: 0; }

.form-holder {
  position: relative; }
  .form-holder i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 16px; }
    .form-holder i.zmdi-eye {
      cursor: pointer; }

.form-control {
  height: 42px;
  border: 1px solid #e6e6e6;
  width: 100%;
  background: none;
  padding: 0 35px 0 19px;
  color: #999; }
  .form-control:focus {
    border-color: #d4bc34; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control::-moz-placeholder {
    color: #999; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control:-moz-placeholder {
    color: #999; }

.actions {
  margin-top: 30px; }
  .actions ul {
    display: flex;
    justify-content: space-between; }
    .actions ul.step-4 {
      justify-content: center; }
      .actions ul.step-4 li:first-child {
        display: none; }
  .actions li a {
    border: none;
    display: inline-flex;
    height: 42px;
    width: 132px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background: #d4bc34;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 3px; }
    .actions li a:hover {
      background: #231f20; }
  .actions li:first-child a {
    width: 97px; }
  .actions li:last-child a {
    width: 234px; }
.checkbox label {
  padding-left: 21px;
  cursor: pointer;
  display: block;
  position: relative;
  margin-bottom: 13px; }
  .checkbox label span {
    font-family: "Lato-Bold"; }
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }
.checkbox input:checked ~ .checkmark:after {
  display: block; }
.checkbox .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: 1px solid #999; }
  .checkbox .checkmark:after {
    content: "";
    top: 2px;
    left: 2px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    display: none; }

@media (max-width: 991px) {
  .steps ul li .step-arrow {
    top: 45%;
    left: 102%; }
 }
@media (max-width: 767px) {
  body {
    background: none;
    height: auto;
    display: block; }

  .steps ul li .step-arrow {
    top: 35%; }

  .wrapper {
    width: auto;
    padding: 0;
    height: auto !important;
    }

  .wizard {
    height: auto;
    padding: 40px 20px 20px; }

  .form-row {
    display: block; }
    .form-row .form-holder {
      width: 100%;
      margin-right: 0;
      margin-bottom: 25px; }
    .form-row .form-group {
      width: 100%;
      display: block; }

  .actions ul {
    flex-direction: column;
    align-items: flex-end; }
    .actions ul li {
      margin-bottom: 20px; }
 }

/*# sourceMappingURL=style.css.map */



/*CUSTOM TABS ON STEP THREE*/

.custom-tabs{
    position: relative;
}
div.custom-tabs > .nav-pills {
    background-color: rgba(207,183,55, 0.2);
}
div.custom-tab .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
div.custom-tabs .nav-pills > li {
    text-align: center;
}
div.custom-tabs .nav-pills>li {
    float: left;
}

div.custom-tabs .nav>li {
    position: relative;
    display: block;
}
.nav-pills > li > a {
    outline: none;
    border: 0 !important;
    border-radius: 0;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #fff !important;
    background-color: rgb(207,183,55);
}
/*for and because of country select box*/
.form-row .form-group {
    width: 100% !important;
    margin-bottom: 0 !important;
}

a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.tab.cstm-tab .nav-tabs.cstm-nav-tabs{
    border: none;
    margin-bottom: 10px;
}
ul.nav.nav-tabs.cstm-nav-tabs li{
  text-align: center;
  margin: 0 auto !important;
}
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li a{
    display: block;
    padding: 20px;
    margin: 0 10px 20px 0;
    font-size: 11px;
    font-weight: 700;
    color: #f7f7f7;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    transition: all 0.3s ease 0s;
    background-color: #333538;
}
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li a:hover,
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li.active a{
    background: #fff;
    color: #d4bc34;
    border: none;
}
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li a:before{
    content: "";
    width: 3px;
    height: 0;
    background: #d0cfcf;
    margin: 0 auto;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li a:hover:before,
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li.active a:before{ height: 25px; }
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li a:after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #d4bc34;
    margin: 0 auto;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li a:hover:after,
.tab.cstm-tab .nav-tabs.cstm-nav-tabs li.active a:after{
    bottom: -10px;
    opacity: 1;
    text-decoration-color: #d4bc34;
}
.tab.cstm-tab .tab-content.cstm-tab-content{
    padding: 15px;
    margin-top: 0;
    background: #f9f7f7a1;
    border-radius: 20px;
    font-size: 15px;
    color: #000;
    line-height: 25px;
    border: 5px dashed #fff;
    letter-spacing: 1px;
    position: relative;
}
.tab.cstm-tab .tab-content.cstm-tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .tab.cstm-tab .nav-tabs.nav-tabs.cstm-nav-tabs{ margin-bottom: 0; }
    .tab.cstm-tab.tab .nav-tabs.nav-tabs.cstm-nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
}

/*STEP 4 SUCCESS MESSAGE*/
/*--thank you pop starts here--*/
.thank-you-pop{
	width:100%;
 	padding:20px;
	text-align:center;
}
.thank-you-pop img{
	width:76px;
	height:auto;
	margin:0 auto;
	display:block;
	margin-bottom:25px;
}

.thank-you-pop h1{
	font-size: 42px;
    margin-bottom: 25px;
	color:#5C5C5C;
}
.thank-you-pop p{
	font-size: 20px;
    margin-bottom: 27px;
 	color:#5C5C5C;
}
.thank-you-pop h3.cupon-pop{
	font-size: 25px;
    margin-bottom: 40px;
	color:#222;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	border:2px dashed #222;
	clear:both;
	font-weight:normal;
}
.thank-you-pop h3.cupon-pop span{
	color:#03A9F4;
}
.thank-you-pop a{
	display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}
.thank-you-pop a i{
	margin-right:5px;
	color:#fff;
}
#ignismyModal .modal-header{
    border:0px;
}
.btn{
    margin-bottom: 0px !important;
}
/*--thank you pop ends here--*/
.alert{
    display: none;
    color: #000;
}
button.close{
  color: #000;
}
.actions ul.step-4{
  display: none;
}
button.btn-form-submit{
  background-color: #000;
  color: #fff;
}
.alert-success {
    color: #231f20 !important;
    background-color: #fff !important;
    border-color: #fff !important;
    padding-top: 30px !important;
    padding-bottom: 40px !important;
}

/*STEP THREE CHECKBOXES*/
@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #d4bc34;
}
.option-input:checked {
  background: #d4bc34;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 22px;
  text-align: center;
  line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #d4bc34;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
.custom-radios label {
  display: block;
  line-height: 30px;
}
.hotel-type-radios label {
  display: block;
  line-height: 30px;
}



/*Hotels Accordion*/
button[aria-expanded=true] .fa-plus {
   display: none;
}
button[aria-expanded=false] .fa-minus {
   display: none;
}
.myaccordion {
  margin: 00px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 14px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #000;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
  color: #d4bc34;
}

.myaccordion li + li {
  margin-top: 10px;
}
li{
  font-size:11px;
}
  
/*NEW radios*/
/* Hide the input */
 input[type="checkbox"] {
   position: absolute;
   opacity: 0;
   z-index: -1;
}
 .check-trail {
   display: flex;
   align-items: center;
   width: 65px;
   height: 35px;
   background: #ecebeb;
   border-radius: 2.5em;
   transition: all 0.5s ease;
   cursor: pointer;
}
 .check-handler {
   display: flex;
   margin-left: 0.5em;
   justify-content: center;
   align-items: center;
   width: 25px;
   height: 25px;
   background: #212e3c;
   border-radius: 50%;
   transition: all 0.5s ease;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
 .check-handler:before {
   content: "\00D7";
   color: white;
   font-size: 15px;
   font-weight: bold;
}
 input[type="checkbox"]:checked + .check-trail {
   background: #cfb737;
}
 input[type="checkbox"]:checked + .check-trail .check-handler {
   margin-left: 50%;
   background: #212e3c;
}
 input[type="checkbox"]:checked + .check-trail .check-handler::before {
   content: "\2714";
}
div.custom-radios{
  text-align: center;
}
div.custom-radios ul li{
  display: inline-block;
    padding: 15px;
}
.custom-radios label {
    display: block;
    line-height: 30px;
    margin: 0 auto;
}
div.hotel-type-radios ul li{
  display: inline-block;
    padding: 7px;
}
.hotel-type-radios label {
    display: block;
    line-height: 30px;
    margin: 0 auto;
}
p.vehicle-title{
  font-weight: bold;
  font-size: 12px;
}
p.hotel-title{
  font-weight: bold;
  font-size: 12px;
}

div.form-check{
  padding-left: 1rem;
}






/*NEW radios for Vehicles only*/
/* Hide the input */
input[type="radio"] {
   position: absolute;
   opacity: 0;
   z-index: -1;
}
.check-trail-radio {
   display: flex;
   align-items: center;
   width: 65px;
   height: 35px;
   background: #ecebeb;
   border-radius: 2.5em;
   transition: all 0.5s ease;
   cursor: pointer;
}
.check-handler-radio {
   display: flex;
   margin-left: 0.5em;
   justify-content: center;
   align-items: center;
   width: 25px;
   height: 25px;
   background: #212e3c;
   border-radius: 50%;
   transition: all 0.5s ease;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.check-handler-radio:before {
   content: "\00D7";
   color: white;
   font-size: 15px;
   font-weight: bold;
}
 input[type="radio"]:checked + .check-trail-radio {
   background: #cfb737;
}
 input[type="radio"]:checked + .check-trail-radio .check-handler-radio {
   margin-left: 50%;
   background: #212e3c;
}
 input[type="radio"]:checked + .check-trail-radio .check-handler-radio::before {
   content: "\2714";
}








/*COUNTRY SELECTION CHECKBOXES*/
/* Form Styles */
/* .form.country-form {
   max-width: 610px;
   margin: 60px auto;
}*/
 .form__options {
   border: none;
   padding: 0;
}
 .form__question {
   font-size: 25px;
}
 .form__answer {
   display: inline-block;
   box-sizing: border-box;
   height: auto;
   vertical-align: top;
   font-size: 18px;
   text-align: center;
}
.form__answer span{
  font-size: 13px;
  font-weight: bold;
}
.country-form label {
   border: 1px solid rgba(207,183,55, .15);
   box-sizing: border-box;
   font-size: 14px;
    font-weight: 800;
   display: block;
   height: 95px;
   width: 95px;
   padding: 10px 10px 30px 10px;
   cursor: pointer;
   opacity: 0.5;
   transition: all 0.5s ease-in-out;
   border-radius: 15%;
}
.country-form label.country-hotel-listing{
  border: 4px solid #1f1c1c;
  color: #1f1c1c;
  font-weight: bold;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
  font-size: 12px;
  padding: 14px 3px 11px 3px;
}

.country-form label.iraq-label {
  background-image: url('../../img/Planner/country-iraq.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  }
  .country-form label.iran-label {
  background-image: url('../../img/Planner/country-iran.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  }
  .country-form label.syria-label {
  background-image: url('../../img/Planner/country-syria.png');
  background-size: cover;
  height: 100px;
  width: 100px;
  }
  .country-form label.ksa-label {
  background-image: url('../../img/Planner/country-saudi-arabia.png');
  background-size: cover;
    height: 100px;
    width: 100px;
  }
.country-form label img.checked-tick{
  display: none;
}

 .country-form label:hover, label:focus, label:active {
   border: 1px solid rgba(207,183,55);
}
 .country-form label.country-hotel-listing:hover{
  border: 3px solid rgb(212,188,52);
  color: rgb(212,188,52);
 }

/* Input style */
.country-form input[type="checkbox"] {
   opacity: 1;
   width: 0;
   height: 0;
}
 .country-form input[type="checkbox"]:active ~ label {
   opacity: 1;
}
.country-form input[type="checkbox"]:checked ~ label {
   opacity: 1 !important;
   border: 1px solid #cfb737;
}
.country-form.alt-color input[type="checkbox"]:checked ~ label{
  border: 3px solid #cfb737 !important;
  color: #cfb737 !important;
}
.country-form input[type="checkbox"]:checked ~ label img.checked-tick,
.country-form input[type="checkbox"]:active ~ label img.checked-tick{
    display: block;
    width: 28px !important;
}
.custom-sq input[type=checkbox] {
  display: none;
}
ul.country-hotel-list li{
display: inline-block;
padding: 5px;
}

/* custom check box for hotels accordions*/

.custom-sq {
    font-weight: bold;
    margin-top: 0px;
    text-align: left;
}


.custom-sq label {
  cursor: pointer;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}
.custom-sq label:before {
  display: inline-block;
  content: url('../../img/Planner/sq-tick-before.png');
  text-align: center;
  padding-right: 5px;
}
.custom-sq label:hover{
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transition: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* On check */
.custom-sq input:checked ~ label:before {
  content: url('../../img/Planner/sq-tick-after.png');
}
/*custom sq check ends here*/

button.btn.btn-gold{
  padding: 5px 11px !important;
  background: #cfb737 !important;
  color: snow;
}
button.btn.btn-gold:hover{
  background: #343a40 !important;
}




/*custom styles*/
.form-inline label{
  justify-content: left !important;
}





